


<div class="row">
    <div class="col-md-3">
        <div ng-include="includes.templateNav"></div>
    </div>
    <div class="col-md-9">
        <div class="portlet lightest text-center">
            <h2 class="no-margin-top no-margin-bottom">WoWProgression</h2>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="portlet lightest">
                    <h2 class="header">Progress</h2>
                    <wow-progression options="wowProgressionOptions"></wow-progression>
                </div>
            </div>
            <div class="col-md-7">
                <div class="portlet lightest">

                </div>
            </div>
        </div>

    </div>
</div>