<div class="row">
    <div class="col-md-3">
        <div class="portlet lightest ">
            <h4 class="header">Progress</h4>
            Alerts is a content change detection and notification service, offered by the search engine company Google, that automatically notifies users when new content from news, web, blogs, video and/or discussion groups matches a set of search terms selected by the user and stored by the Google Alerts service. Notifications can be sent by email, as a web feed, or displayed on the users’ iGoogle page. The service is available to the general public as an open beta release.

            <h4 class="header">Recruitment</h4>
            Alerts is a content change detection and notification service, offered by the search engine company Google, that automatically notifies users when new content from news, web, blogs, video and/or discussion groups matches a set of search terms selected by the user and stored by the Google Alerts service. Notifications can be sent by email, as a web feed, or displayed on the users’ iGoogle page. The service is available to the general public as an open beta release.

            <h4 class="header">Shoutbox</h4>
            Alerts is a content change detection and notification service, offered by the search engine company Google, that automatically notifies users when new content from news, web, blogs, video and/or discussion groups matches a set of search terms selected by the user and stored by the Google Alerts service. Notifications can be sent by email, as a web feed, or displayed on the users’ iGoogle page. The service is available to the general public as an open beta release.
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet lightest ">
            <h2 class="header">Lightest</h2>
            <p>Alerts is a content change detection and notification service, offered by the search engine company Google, that automatically notifies users when new content from news, web, blogs, video and/or discussion groups matches a set of search terms selected by the user and stored by the Google Alerts service. Notifications can be sent by email, as a web feed, or displayed on the users’ iGoogle page. The service is available to the general public as an open beta release.</p>
            <h4 class="header">Alerts</h4>
            Alerts is a content change detection and notification service, offered by the search engine company Google, that automatically notifies users when new content from news, web, blogs, video and/or discussion groups matches a set of search terms selected by the user and stored by the Google Alerts service. Notifications can be sent by email, as a web feed, or displayed on the users’ iGoogle page. The service is available to the general public as an open beta release.
        </div>
        <div class="portlet lightest ">
            <h2 class="header">Lightest</h2>
            <p>Alerts is a content change detection and notification service, offered by the search engine company Google, that automatically notifies users when new content from news, web, blogs, video and/or discussion groups matches a set of search terms selected by the user and stored by the Google Alerts service. Notifications can be sent by email, as a web feed, or displayed on the users’ iGoogle page. The service is available to the general public as an open beta release.</p>
            <h4 class="header">Alerts</h4>
            Alerts is a content change detection and notification service, offered by the search engine company Google, that automatically notifies users when new content from news, web, blogs, video and/or discussion groups matches a set of search terms selected by the user and stored by the Google Alerts service. Notifications can be sent by email, as a web feed, or displayed on the users’ iGoogle page. The service is available to the general public as an open beta release.
        </div>
    </div>
    <div class="col-md-3">
        <div class="portlet lightest ">
            <h2 class="header">Lightest</h2>
            <p>Alerts is a content change detection and notification service, offered by the search engine company Google, that automatically notifies users when new content from news, web, blogs, video and/or discussion groups matches a set of search terms selected by the user and stored by the Google Alerts service. Notifications can be sent by email, as a web feed, or displayed on the users’ iGoogle page. The service is available to the general public as an open beta release.</p>
            <h4 class="header">Alerts</h4>
            Alerts is a content change detection and notification service, offered by the search engine company Google, that automatically notifies users when new content from news, web, blogs, video and/or discussion groups matches a set of search terms selected by the user and stored by the Google Alerts service. Notifications can be sent by email, as a web feed, or displayed on the users’ iGoogle page. The service is available to the general public as an open beta release.
        </div>
        <div class="portlet lightest ">
            <h2 class="header">Lightest</h2>
            <p>Alerts is a content change detection and notification service, offered by the search engine company Google, that automatically notifies users when new content from news, web, blogs, video and/or discussion groups matches a set of search terms selected by the user and stored by the Google Alerts service. Notifications can be sent by email, as a web feed, or displayed on the users’ iGoogle page. The service is available to the general public as an open beta release.</p>
            <h4 class="header">Alerts</h4>
            Alerts is a content change detection and notification service, offered by the search engine company Google, that automatically notifies users when new content from news, web, blogs, video and/or discussion groups matches a set of search terms selected by the user and stored by the Google Alerts service. Notifications can be sent by email, as a web feed, or displayed on the users’ iGoogle page. The service is available to the general public as an open beta release.
        </div>
        <div class="portlet lightest ">
            <h2 class="header">Lightest</h2>
            <p>Alerts is a content change detection and notification service, offered by the search engine company Google, that automatically notifies users when new content from news, web, blogs, video and/or discussion groups matches a set of search terms selected by the user and stored by the Google Alerts service. Notifications can be sent by email, as a web feed, or displayed on the users’ iGoogle page. The service is available to the general public as an open beta release.</p>
            <h4 class="header">Alerts</h4>
            Alerts is a content change detection and notification service, offered by the search engine company Google, that automatically notifies users when new content from news, web, blogs, video and/or discussion groups matches a set of search terms selected by the user and stored by the Google Alerts service. Notifications can be sent by email, as a web feed, or displayed on the users’ iGoogle page. The service is available to the general public as an open beta release.
        </div>
    </div>
</div>