<div class="portlet lightest">
    <h4>Template features</h4>
    <ul>
        <li><a ui-sref="template-general">General components</a> </li>
        <li><a ui-sref="template-typo">Typography</a> </li>
        <li><a ui-sref="template-buttons">Buttons</a> </li>
        <li><a ui-sref="template-modals">Modals</a> </li>
        <li><a ui-sref="template-portlets">Portlets</a> </li>
        <li><a ng-href="#/template/utilities">Utilities</a> </li>
    </ul>
    <h4>Widgets</h4>
    <ul>
        <li><a ui-sref="WowApi">WoW data API</a> </li>
        <li><a ui-sref="WowProgression">WoW Progression</a> </li>
        <li><a ui-sref="WowRaidIcons">Raid Icons</a> </li>
        <li><a ng-href="#/template/darktip">DarkTip</a> </li>
    </ul>
</div>
